:root {
  /* font styles */
  --SF-Pro-Display: "SF Pro Display", sans-serif;
  --TTTravels-Medium: "TT Travels", sans-serif;
  /* colors */
  --color-dark-blue: #1f3f68;
  --color-button: #5a98d0;
  --color-white: #fff;
  --color-link: #5a98d0;
  --color-input: #eaf3fa;
}

body {
  font-family: var(--SF-Pro-Display);
  font-size: 18px;
  color: var(--color-dark-blue);
}

@font-face {
  font-family: "TT Travels", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("TTTravels-Medium"), url("../fonts/TTTravels-Thin/TTTravels-Medium.ttf") format("truetype");
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 15px 0% 15px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0% 40px 0% 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0% 165px 0% 40px;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
ul,
p,
button {
  margin: 0%;
  padding: 0%;
  cursor: pointer;
  border: none;
  outline: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* DIGITAL */
.container__current {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .container__current {
    padding: 0 260px 0 260px;
  }
}

.digital {
  padding: 77px 0 140px 0;
}
@media screen and (min-width: 768px) {
  .digital {
    padding: 106px 0 155px 0;
  }
}
@media screen and (min-width: 1440px) {
  .digital {
    padding: 176px 0 156px 0;
  }
}

@media screen and (min-width: 1440px) {
  .digital__grid {
    display: flex;
    position: relative;
  }
}

.digital__title {
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 1.8px;
  margin-bottom: 76px;
  max-width: 343px;
  color: #316099;
}
@media screen and (min-width: 768px) {
  .digital__title {
    font-size: 48px;
    max-width: 491px;
  }
}

/* digital__wrapper */
.digital__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin-bottom: 96px;
}
@media screen and (min-width: 768px) {
  .digital__wrapper {
    gap: 112px;
    margin-bottom: 160px;
  }
}
@media screen and (min-width: 1440px) {
  .digital__wrapper {
    margin-bottom: 136px;
  }
}

.digital__wrapper--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 23px 24px 23px;
  width: 330px;
  border-radius: 10px;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
}
@media screen and (min-width: 1440px) {
  .digital__wrapper--list {
    width: 348px;
  }
}

@media screen and (min-width: 1440px) {
  .digital__wrapper--list__current {
    position: absolute;
    left: 0;
    top: 25%;
  }
}

.digital__wrapper--img__first {
  width: 224px;
  height: 197px;
  margin-bottom: 43px;
}

.digital__wrapper--img__second {
  width: 182px;
  height: 132px;
  margin-bottom: 48px;
}

.digital__wrapper--img__third {
  width: 132px;
  height: 131px;
  margin-bottom: 48px;
}

.digital__wrapper--text {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 1.2px;
  margin-bottom: 16px;
  color: var(--color-dark-blue);
}

.digital__wrapper--text__current {
  width: 307px;
}
@media screen and (min-width: 1440px) {
  .digital__wrapper--text__current {
    width: 304px;
  }
}

.digital__wrapper--item {
  line-height: 150%;
  letter-spacing: 1.44px;
  opacity: 0.6;
  margin-bottom: 56px;
}

.digital__wrapper--link {
  font-style: italic;
  font-weight: 600;
  line-height: 1.66;
  letter-spacing: 0.9px;
  display: flex;
  align-items: center;
  gap: 9px;
  color: var(--color-link);
}

/* Form */
.digital__form {
  padding: 56px 45px 43px 46px;
  border-radius: 10px;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
}
@media screen and (min-width: 768px) {
  .digital__form {
    padding: 56px 74px 46px 75px;
  }
}
@media screen and (min-width: 1440px) {
  .digital__form {
    padding: 56px 95px 46px 95px;
  }
}

.digital__form--title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 6.96px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.digital__form--wrapper {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
@media screen and (min-width: 768px) {
  .digital__form--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

.digital__form--box {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

@media screen and (min-width: 768px) {
  .digital__form--box__current {
    gap: 55px;
  }
}

.digital__form--label {
  font-style: italic;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: 1.26px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 7px 0 7px 16px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: var(--color-input);
}

input:active {
  background-color: #fbfdfe;
  box-shadow: 0px 2px 16px 0px rgb(163, 201, 245);
}

input:hover,
input:focus {
  box-shadow: 0px 2px 16px 0px rgb(163, 201, 245);
}

input::placeholder {
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.72px;
  color: #5a768c;
}

.digital__form--item {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.72px;
  margin-top: 8px;
  color: #888888;
}

/* checkbox */
.digital__form--checkbox {
  margin-top: 55px;
  margin-bottom: 44px;
}

.digital__form--inner {
  line-height: 140%;
  letter-spacing: 1.08px;
  display: flex;
  gap: 12px;
}

.digital__form--input {
  display: none;
}

#checkboxTrue {
  display: none;
}

.digital__form--button {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.44px;
  width: 100%;
  padding: 14px 50px;
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-button);
}

/* HERO */
.hero {
  padding: 48px 0 69px 0;
  background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.836%, rgba(152, 195, 232, 0) 31.12%);
  background-size: cover;
  /* opacity: 0.2; */
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 184px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding: 40px 0 55px 0;
  }
}

.hero__box {
  display: flex;
  justify-content: space-between;
  /* opacity: 1; */
  margin-bottom: 61px;
}

.hero__logo {
  background-color: inherit;
}

.hero__list {
  display: flex;
}

.hero__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  margin-bottom: 55px;
  max-width: 238px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 64px;
    letter-spacing: 2.56px;
    margin-bottom: 56px;
    max-width: 525px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    margin-bottom: 64px;
    max-width: 545px;
  }
}

.hero__subtitle {
  line-height: 160%;
  letter-spacing: 0.64px;
  opacity: 0.6;
  margin-bottom: 94px;
  max-width: 322px;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    margin-bottom: 72px;
    max-width: 425px;
  }
}

.hero__button {
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: 1.44px;
  padding: 15px 30px 15px 40px;
  color: var(--color-white);
  background-color: var(--color-button);
  border-radius: 10px;
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
}
@media screen and (min-width: 1440px) {
  .hero__button {
    padding: 15px 32px 15px 33px;
  }
}

.hero__button:active {
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
  background-color: #4088c9;
}

.hero__button:hover,
.hero__button:focus {
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.35);
  background-color: #4799e3;
}

.hero__img {
  width: 687px;
  height: 579px;
  display: none;
}
@media screen and (min-width: 1440px) {
  .hero__img {
    display: block;
  }
}

/* FOOTER */
.footer {
  padding: 91px 0 34px 0;
  background-color: #316099;
  border-radius: 0px 200px 0px 0px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 41px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding-bottom: 65px;
  }
}

@media screen and (min-width: 768px) {
  .footer__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .footer__row {
    display: flex;
    justify-content: space-evenly;
  }
}

.footer__logo {
  margin-bottom: 40px;
}

/* footer__part */
.footer__part {
  font-family: var(--TTTravels-Medium);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.8px;
  color: var(--color-white);
  opacity: 0.4;
}
@media screen and (min-width: 1440px) {
  .footer__part {
    margin-left: 190px;
  }
}

/* address */
.footer__address--wrapper {
  margin-bottom: 53px;
}
@media screen and (min-width: 768px) {
  .footer__address--wrapper {
    margin-bottom: 64px;
  }
}

.footer__address--list {
  display: flex;
  gap: 16px;
}

.footer__address--list:nth-child(2) {
  margin-bottom: 24px;
}

.footer__address--element {
  font-family: var(--TTTravels-Medium);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.65;
  letter-spacing: 0.8px;
  color: var(--color-white);
}

.footer__address--item,
.footer__address--link,
.footer__nav--link {
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 1.44px;
  color: var(--color-white);
}

.footer__element {
  display: block;
  margin-bottom: 55px;
  border-bottom: 1px solid rgb(255, 255, 255);
  opacity: 0.4;
  width: 100%;
}

/* footer-nav */
.footer__nav--box {
  margin-bottom: 52px;
}

.footer__nav--wrap {
  margin-bottom: 44px;
}

.footer__nav--title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 1.2px;
  margin-bottom: 32px;
  color: var(--color-white);
}

.footer__nav--list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 1440px) {
  .footer__box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.footer__title {
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 1.8px;
  max-width: 279px;
  margin-bottom: 38px;
  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .footer__title {
    max-width: 331px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__title {
    margin-bottom: 13px;
  }
}

.footer__subtitle {
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 1.44px;
  margin-bottom: 50px;
  color: var(--color-white);
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .footer__subtitle {
    margin-bottom: 71px;
    max-width: 454px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__subtitle {
    margin-bottom: 45px;
  }
}

.footer__button {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.08;
  letter-spacing: 1.92px;
  height: 56px;
  margin-bottom: 52px;
  padding: 15px 47px;
  color: var(--color-white);
  background-color: var(--color-button);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .footer__button {
    margin-bottom: 63px;
  }
}/*# sourceMappingURL=main.css.map */