:root {
  /* font styles */
  --SF-Pro-Display: "SF Pro Display", sans-serif;
  --TTTravels-Medium: "TT Travels", sans-serif;

  /* colors */
  --color-dark-blue: #1f3f68;
  --color-button: #5a98d0;
  --color-white: #fff;
  --color-link: #5a98d0;
  --color-input: #eaf3fa;
}